*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  font-family: 'Roboto Slab', serif;
  background: #000 url(imagenes/fondo.jpg);
  background-size: cover;/* para que el fondo ocupe toda la pantalla */
  background-attachment: fixed;
}

.contenedor{
  /* margin: 20px; */
  margin: auto;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header{
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;/* esto sirve para separar el logo y los enlaces de extremo a extremo */
  align-items: center;
}
header .menu a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
header .menu a:hover{
  text-decoration: underline;
}
.main{
  width: 70%;
  background: #fff;
  padding: 20px;
}
.main article .thumb{
  padding-bottom: 20px;
}
.main article .thumb img{
 width: 100%;
 vertical-align: top;
}
.main article h1{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}
.main article p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

aside{
  width: 30%;
  background: #537dca;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .ad{
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #4262a2;
  padding: 50px 0;
}
footer{
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  /* flex-wrap:nowrap; */
  /* justify-content: space-between; */
}
footer .autor{
  color: #fff;
}
footer .redes a{
  color: #fff;
  margin-left: 20px;
  text-decoration: underline;
}
footer .redes a:hover{
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .main{
    width: 100%
  }
  aside{
    width: 100%;
    flex-direction: row;
  }
  aside .ad{
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  header{
    flex-direction: column;
    padding-bottom: 20px;
  }
  header .menu{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  header .menu a{
    margin: 0 20px;
  }

  footer{
    flex-direction: column;
    text-align: center;
  }
  footer .autor{
    order: 2;
  }
  footer .redes{
    order: 1;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  aside{
    display: none;
  }
}
